<app-sidebar [isExpanded]="true" ></app-sidebar>
<app-nav-bar></app-nav-bar>

<div class="container">
    <h1 style="text-align: center; font-weight: bold; background-color: black; color: white;"> Market Holding Position </h1>
<table class="table table-dark">
    <thead>
      <tr style="background-color: #6d6e7e">
        <th scope="col" >Ticker</th>
        <th scope="col">Value/Cost</th>
        <th scope="col">Daily</th>
        <th scope="col">Total Change</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">HDFC BANK.NS</th>
        <td>₹16,48,100.00</td>
        <td style="color: green;">79,050.88</td>
        <td style="color: green;">4.58%</td>
        <td style="color: green;">11,050.00</td>
      </tr>
      <tr>
        <th scope="row">ICICI BANK.NS</th>
        <td>₹12,33,450.00</td>
        <td style="color: red;">349.00</td>
        <td style="color: green;">0.03%</td>
        <td style="color: green;">3,26,949.00</td>

      </tr>
      <tr>
        <th scope="row">Reliance.NS</th>
        <td>₹28,70,100.00</td>
        <td style="color: green;">19,400.15</td>
        <td style="color: green;">12.71%</td>
        <td style="color: green;">3,23,100.00</td>
      </tr>
      <tr>
        <th scope="row">AXISBANK.NS</th>
        <td>₹6,43,500.00</td>
        <td style="color: green;">3,075.15</td>
        <td style="color: green;">0.48%</td>
        <td style="color: green;">2,11,100.00</td>
      </tr>
      <tr>
        <th scope="row">KOTAKBANK.NS</th>
        <td>₹18,52,700.00</td>
        <td style="color: green;">18,840.15</td>
        <td style="color: green;">1.03%</td>
        <td style="color: green;">12,700.00</td>
      </tr>
      <tr>
        <th scope="row">TATASTEEL.NS</th>
        <td>₹2,62,060.00</td>
        <td style="color: red;">2,369.15</td>
        <td style="color: red;">-0.91%</td>
        <td style="color: green;">01,01,300.00</td>
      </tr>
      <tr>
        <th scope="row">SAIL.NS</th>
        <td>₹1,55,600.00</td>
        <td style="color: green;">4,560.15</td>
        <td style="color: green;">3.02%</td>
        <td style="color: green;">62,610.00</td>
      </tr>
      <tr>
        <th scope="row">PAYTM.NS</th>
        <td>₹4,36,500.00</td>
        <td style="color: green;">24,099.15</td>
        <td style="color: green;">5.81%</td>
        <td style="color: red;">-4,18,400.00</td>
      </tr>
      <tr>
        <th scope="row">TATAMOTORS.NS</th>
        <td>₹4,96,820.00</td>
        <td style="color: red;">2,274.15</td>
        <td style="color: red;">-0.41%</td>
        <td style="color: green;">1,81,800.00</td>
      </tr>
      <tr>
        <th scope="row">MARUTI.BO</th>
        <td>₹60,53,250.00</td>
        <td style="color: green;">10,500.15</td>
        <td style="color: green;">0.17%</td>
        <td style="color: green;">10,74,200.00</td>
      </tr>
      <tr>
        <th scope="row">INFY.NS</th>
        <td>₹16,47,100.00</td>
        <td style="color: red;">-3,200</td>
        <td style="color: red;">-0.91%</td>
        <td style="color: green;">3,27,450.00</td>
      </tr>
      <tr>
        <th scope="row">JUBLFOOD.NS</th>
        <td>₹5,70,550.00</td>
        <td style="color: green;">3,450.15</td>
        <td style="color: green;">0.61%</td>
        <td style="color: green;">90,550.00</td>
      </tr>
      <tr>
        <th scope="row">UPL.NS</th>
        <td>₹28,63,500.00</td>
        <td style="color: green;">11,250.15</td>
        <td style="color: green;">0.39%</td>
        <td style="color: red;">-7,86,500.00</td>
      </tr>
      <tr>
        <th scope="row">POLYCAB.NS</th>
        <td>₹1,32,68,100.00</td>
        <td style="color: red;">-54,700.15</td>
        <td style="color: red;">-0.41%</td>
        <td style="color: green;">36,18,200.00</td>
      </tr>
      <tr>
        <th scope="row">TATAELEXI.NS</th>
        <td>₹70,54,450.00</td>
        <td style="color: red;">-21,399.15</td>
        <td style="color: red;">-0.30%</td>
        <td style="color: red;">-29,45,550.00</td>
      </tr>
      <tr>
        <th scope="row">TATATECH.NS</th>
        <td>₹10,10,350.00</td>
        <td style="color: green;">1,399.15</td>
        <td style="color: green;">0.13%</td>
        <td style="color: red;">-2,04,650.00</td>
      </tr>
     
      <tr style="background-color: #6d6e7e;">
        <th scope="row"><b>UNREALIZED</b></th>
        <td><b>₹3,91,96,575.00</b></td>
        <td style="color: white;"><b>4,33,849.15</b></td>
        <td style="color: white;"><b>-0.22%</b></td>
        <td style="color: white;"><b>16,39,575.00</b></td>
      </tr>
    </tbody>
  </table>
</div>
