<app-sidebar [isExpanded]="true" ></app-sidebar>
<app-nav-bar></app-nav-bar>

<div class="container">
    <h1 style="text-align: center; font-weight: bold; background-color: black; color: white;"> Market Holding Position </h1>
<table class="table table-dark">
    <thead>
      <tr style="background-color: #6d6e7e">
        <th scope="col" >Ticker</th>
        <th scope="col">Value/Cost</th>
        <th scope="col">Daily</th>
        <th scope="col">Total Change</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">HDFC BANK.NS</th>
        <td>₹15,17,100.00</td>
        <td style="color: green;">24,549.88</td>
        <td style="color: green;">8.80%</td>
        <td style="color: green;">1,42,900.00</td>
      </tr>
      <tr>
        <th scope="row">ICICI BANK.NS</th>
        <td>₹11,31,150.00</td>
        <td style="color: red;">3,593</td>
        <td style="color: green;">24.71%</td>
        <td style="color: green;">2,24,49.00</td>

      </tr>
      <tr>
        <th scope="row">Reliance.NS</th>
        <td>₹28,70,100.00</td>
        <td style="color: green;">19,400.15</td>
        <td style="color: green;">12.71%</td>
        <td style="color: green;">3,23,100.00</td>
      </tr>
      <tr>
        <th scope="row">AXISBANK.NS</th>
        <td>₹5,87,000.00</td>
        <td style="color: green;">4,300.15</td>
        <td style="color: green;">7.71%</td>
        <td style="color: green;">1,54,100.00</td>
      </tr>
      <tr>
        <th scope="row">KOTAKBANK.NS</th>
        <td>₹17,03,000.00</td>
        <td style="color: green;">5,500.15</td>
        <td style="color: red;">-7.71%</td>
        <td style="color: green;">-1,36,100.00</td>
      </tr>
      <tr>
        <th scope="row">TATASTEEL.NS</th>
        <td>₹2,50,100.00</td>
        <td style="color: green;">970.15</td>
        <td style="color: green;">63.71%</td>
        <td style="color: green;">01,01,300.00</td>
      </tr>
      <tr>
        <th scope="row">SAIL.NS</th>
        <td>₹1,69,100.00</td>
        <td style="color: green;">200.15</td>
        <td style="color: green;">82.71%</td>
        <td style="color: green;">76,500.00</td>
      </tr>
      <tr>
        <th scope="row">PAYTM.NS</th>
        <td>₹3,40,100.00</td>
        <td style="color: red;">-15,299.15</td>
        <td style="color: red;">-60.71%</td>
        <td style="color: red;">5,14,300.00</td>
      </tr>
      <tr>
        <th scope="row">TATAMOTORS.NS</th>
        <td>₹4,80,100.00</td>
        <td style="color: green;">-899.15</td>
        <td style="color: green;">52.71%</td>
        <td style="color: green;">1,65,300.00</td>
      </tr>
      <tr>
        <th scope="row">MARUTI.BO</th>
        <td>₹63,25,100.00</td>
        <td style="color: green;">34,700.15</td>
        <td style="color: green;">30.71%</td>
        <td style="color: green;">15,20,300.00</td>
      </tr>
      <tr>
        <th scope="row">INFY.NS</th>
        <td>₹14,65,100.00</td>
        <td style="color: green;">7,300</td>
        <td style="color: green;">56.71%</td>
        <td style="color: green;">1,45,300.00</td>
      </tr>
      <tr>
        <th scope="row">JUBLFOOD.NS</th>
        <td>₹4,66,700.00</td>
        <td style="color: green;">8,250.15</td>
        <td style="color: green;">30.71%</td>
        <td style="color: green;">13,250.00</td>
      </tr>
      <tr>
        <th scope="row">UPL.NS</th>
        <td>₹25,79,100.00</td>
        <td style="color: green;">24,740.15</td>
        <td style="color: green;">30.71%</td>
        <td style="color: green;">10,71,300.00</td>
      </tr>
      <tr>
        <th scope="row">POLYCAB.NS</th>
        <td>₹1,33,68,100.00</td>
        <td style="color: green;">84,000.15</td>
        <td style="color: green;">38.71%</td>
        <td style="color: green;">37,18,300.00</td>
      </tr>
      <tr>
        <th scope="row">TATAELEXI.NS</th>
        <td>₹73,74,950.00</td>
        <td style="color: green;">41,600.15</td>
        <td style="color: green;">26.71%</td>
        <td style="color: green;">26,25,300.00</td>
      </tr>
      <tr>
        <th scope="row">TATATECH.NS</th>
        <td>₹73,74,950.00</td>
        <td style="color: green;">34,599.15</td>
        <td style="color: green;">0.71%</td>
        <td style="color: green;">1,30,300.00</td>
      </tr>
     
      <tr style="background-color: #6d6e7e;">
        <th scope="row"><b>UNREALIZED</b></th>
        <td><b>₹3,90,30,250.00</b></td>
        <td style="color: white;"><b>1,23,849.15</b></td>
        <td style="color: white;"><b>3.92%</b></td>
        <td style="color: white;"><b>14,73,250.00</b></td>
      </tr>
    </tbody>
  </table>
</div>