<app-sidebar [isExpanded]="true" ></app-sidebar>
<app-nav-bar></app-nav-bar>

<div class="container d-flex">
    <div  style="margin: 20px 0; margin-bottom: 0px;">
    <h1 style="text-align: center; font-weight: bold; background-color: black; color: white;"> WatchList 1 </h1>
<table class="table table-dark">
    <thead>
      <tr style="background-color: #6d6e7e">
        <th scope="col" >Ticker</th>
        <th scope="col">Value/Cost</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">HDFC BANK.NS</th>
        <td style="color: green;">1516.05</td>
       
      </tr>
      <tr>
        <th scope="row">ICICI BANK.NS</th>
        <td style="color: red;">-1,132.40</td>
       

      </tr>
      <tr>
        <th scope="row">Reliance.NS</th>
        <td style="color: red;">-2,959.00</td>
      
      </tr>
      <tr>
        <th scope="row">AXISBANK.NS</th>
        <td style="color: green;">1,172.95</td>
       
      </tr>
      <tr>
        <th scope="row">KOTAKBANK.NS</th>
        <td style="color: red;">-1,702.00</td>
      
      </tr>
      <tr>
        <th scope="row">TATASTEEL.NS</th>
        <td style="color: red;">-174.90</td>
       
      </tr>
      <tr>
        <th scope="row">SAIL.NS</th>
        <td style="color: green;">169.50</td>
       
      </tr>
      <tr>
        <th scope="row">PAYTM.NS</th>
        <td style="color: red;">-341.00</td>

      </tr>
      <tr>
        <th scope="row">TATAMOTORS.NS</th>
        <td style="color: red;">-958.90</td>
       
      </tr>
      <tr>
        <th scope="row">MARUTI.BO</th>
        <td style="color: green;">13,000.05</td>
       
      </tr>
     
    </tbody>
  </table>
  </div>
  <div style="margin: 20px 20px 0 20px">
    <h1 style="text-align: center; font-weight: bold; background-color: black; color: white;"> WatchList 2 </h1>
    <table class="table table-dark">
        <thead>
          <tr style="background-color: #6d6e7e">
            <th scope="col" >Ticker</th>
            <th scope="col">Value/Cost</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SUZLON</th>
            <td style="color: red;">-45.90</td>
           
          </tr>
          <tr>
            <th scope="row">MRF</th>
            <td style="color: green;">1,30,728.95</td>
           
    
          </tr>
          <tr>
            <th scope="row">BSE.NS</th>
            <td style="color: green;">2,726.25</td>
          
          </tr>
          <tr>
            <th scope="row">AXISBANK.NS</th>
            <td style="color: green;">4,300.15</td>
           
          </tr>
          <tr>
            <th scope="row">TATAELXSI.NS</th>
            <td style="color: green;">7,360.50</td>
          
          </tr>
          <tr>
            <th scope="row">TATASTEEL.NS</th>
            <td style="color: red;">-174.90</td>
           
          </tr>
          <tr>
            <th scope="row">TATAPOWER.NS</th>
            <td style="color: green;">446.95</td>
           
          </tr>
          <tr>
            <th scope="row">PAYTM.NS</th>
            <td style="color: red;">-15,299.15</td>
    
          </tr>
          <tr>
            <th scope="row">TATAMOTORS.NS</th>
            <td style="color: green;">-899.15</td>
           
          </tr>
          <tr>
            <th scope="row">INFY.NS</th>
            <td style="color: red;">-1,462.60</td>
           
          </tr>
         
    
        </tbody>
      </table>
  </div>
  <div style="margin: 20px 20px 0 20px">
    <h1 style="text-align: center; font-weight: bold; background-color: black; color: white;"> WatchList 3 </h1>
    <table class="table table-dark">
        <thead>
          <tr style="background-color: #6d6e7e">
            <th scope="col" >Ticker</th>
            <th scope="col">Value/Cost</th>
            
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">JUBLFOOD.NS</th>
                <td style="color: red;">-466.35</td>
                
              </tr>
              <tr>
                <th scope="row">UPL.NS</th>
                <td style="color: green;">516.50</td>
              
              </tr>
              <tr>
                <th scope="row">POLYCAB.NS</th>
                <td style="color: green;">6,670.70</td>
              
              </tr>
              <tr>
                <th scope="row">TATAELXSI.NS</th>
                <td style="color: green;">7,360.50</td>
              
              </tr>
              <tr>
                <th scope="row">TATASTEEL.NS</th>
                <td style="color: red;">-174.90</td>
               
              </tr>
              <tr>
                <th scope="row">UPL.NS</th>
                <td style="color: green;">516.50</td>
               
              </tr>
              <tr>
                <th scope="row">BSE.NS</th>
                <td style="color: green;">2,726.25</td>
              
              </tr>
              <tr>
                <th scope="row">AXISBANK.NS</th>
                <td style="color: green;">4,300.15</td>
               
              </tr>
              <tr>
                <th scope="row">TATAELXSI.NS</th>
                <td style="color: green;">7,360.50</td>
              
              </tr>
              <tr>
                <th scope="row">MARUTI.BO</th>
                <td style="color: green;">13,000.05</td>
               
              </tr>
        </tbody>
      </table>
  </div>
  <div style="margin: 20px 20px 0 20px">
    <h1 style="text-align: center; font-weight: bold; background-color: black; color: white;"> WatchList 4</h1>
    <table class="table table-dark">
        <thead>
          <tr style="background-color: #6d6e7e">
            <th scope="col" >Ticker</th>
            <th scope="col">Value/Cost</th>
            
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">SAIL.NS</th>
                <td style="color: green;">169.50</td>
               
              </tr>
              <tr>
                <th scope="row">PAYTM.NS</th>
                <td style="color: red;">-341.00</td>
        
              </tr>
              <tr>
                <th scope="row">TATAMOTORS.NS</th>
                <td style="color: red;">-958.90</td>
               
              </tr>
          
            <tr>
              <th scope="row">UPL.NS</th>
              <td style="color: green;">516.50</td>
             
            </tr>
            <tr>
              <th scope="row">BSE.NS</th>
              <td style="color: green;">2,726.25</td>
            
            </tr>
            <tr>
              <th scope="row">AXISBANK.NS</th>
              <td style="color: green;">4,300.15</td>
            </tr>
            <tr>
                <th scope="row">PAYTM.NS</th>
                <td style="color: red;">-15,299.15</td>
        
              </tr>
              <tr>
                <th scope="row">TATAMOTORS.NS</th>
                <td style="color: green;">-899.15</td>
               
              </tr>
          <tr>
            <th scope="row"></th>
            <td ></td>
           
          </tr>
          <tr>
            <th scope="row"></th>
            <td ></td>
           
          </tr>
         
          <tr>
            <th scope="row"></th>
            <td></td>
           
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
           
          </tr>
          
    
        </tbody>
      </table>
  </div>
</div>