<app-sidebar [isExpanded]="sidebarExpanded"></app-sidebar>
<div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
  <router-outlet></router-outlet>
</div>
<app-nav-bar></app-nav-bar>
<div class="dashboard">
  <div class="chart d-flex" style="padding: 20px 250px;justify-content: space-between;">
    <div class="card" style="width: 310px;justify-content: space-between;">
      <h5 class="card-header" style="text-align: center;background: black;
      color: white;">Current Value</h5>
      <div class="card-body" style="background: green;
      color: white;">
        <h2 class="card-text" style="padding: 20px;">₹3,93,62,050.00</h2>

      </div>
    </div>
    <div class="card" style="width: 310px;">
      <h5 class="card-header" style="text-align: center;background: black;
      color: white;">Invested Value</h5>
      <div class="card-body" style="background: red;
      color: white;">
        <h2 class="card-text" style="padding: 20px;">₹3,75,57,250.00</h2>

      </div>
    </div>
    <div class="card" style="width: 280px;">
      <h5 class="card-header" style="text-align: center;background: black;
      color: white;">Total Change</h5>
     <div class="card-body" style="background: green;
     color: white;">
        <h2 class="card-title" style="padding: 20px;">₹18,05,050.00</h2>
      </div>
    </div>
      <div class="card" style="width: 280px;">
      <h5 class="card-header" style="text-align: center;background: black;
      color: white;">Daily Change </h5>
     <div class="card-body" style="background: green;
     color: white;">
        <h2 class="card-text" style="padding: 20px;">₹4,33,650.00</h2>
      </div>
    </div>

  </div>

</div>
